aiohttp
bcrypt
fastapi[standard]
langchain-community
langchain-openai
passlib
psycopg2-binary
pydantic[email]
python-dotenv
python-jose
python-multipart
requests
rich
sqlalchemy
websockets
pytz
google-cloud-storage
psycopg2
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
twilio
retell-sdk